.task-form {
  background-color: #232323;
  color: #fff;
  padding: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.task-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.task-form .form-group label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.task-form .form-control {
  background-color: #343434;
  color: #fff;
  border: none;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;

}

.task-form .btn-primary {
  background-color: #128aff;
  margin-top: 15px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 30%;
  text-align: center;
  text-transform: uppercase;
  margin: 15px auto 0; /* Adjust the margin property to center the button */
}

.task-form .btn-primary:hover {
  background-color: #0d6ce0;
}